.label{
	color: white;
	display: flex;
	justify-content: center;
}

.wrapper{
	width: 200px;
	display: flex;
	flex-direction: column;
	height: 200px;
}

form{
	display: flex;
	justify-content: center;
}

.input {
	width: 200px;
}


